* {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 42px !important;
  }
}
@media screen and (min-width: 1920px) {
  html {
    font-size: 80px !important;
  }
}
li {
  list-style-type: none;
}
@font-face {
  font-family: ledfont;
  src: url(../fonts/DS-DIGIT.TTF);
}
body {
  background: url(../images/bg.jpg) no-repeat top center;
  line-height: 1.15;
}
body header {
  position: relative;
  width: 100%;
  height: 1.25rem;
  background: url(../images/head_bg.png) no-repeat top center;
  background-size: 100%;
}
body header h1 {
  font-size: 0.475rem;
  color: white;
  line-height: 1rem;
  text-align: center;
}
body header .showTime {
  position: absolute;
  right: 0;
  top: 0;
  width: 6.25rem;
  height: 100%;
  color: #ffeb7b;
  font-family: ledfont;
  font-size: 0.3125rem;
  text-align: center;
  line-height: 1rem;
}
body .mainbox {
  padding: 0.125rem;
  display: flex;
}
body .mainbox .left-box {
  flex: 3;
}
body .mainbox .center-box {
  flex: 5;
}
body .mainbox .right-box {
  flex: 3;
}
body .mainbox .item-box {
  position: relative;
  padding: 0 0.1875rem 0.5rem 0.1875rem;
  margin-bottom: 0.1875rem;
  height: 3.25rem;
  border: 1px solid rgba(25, 186, 139, 0.17);
  background: url(../images/line.png) no-repeat;
  background-size: 100%;
  background-color: rgba(255, 255, 255, 0.05);
}
body .mainbox .item-box::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 10px;
  height: 10px;
  border-top: 2px solid #02a6b5;
  border-left: 2px solid #02a6b5;
}
body .mainbox .item-box::after {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  width: 10px;
  height: 10px;
  border-top: 2px solid #02a6b5;
  border-right: 2px solid #02a6b5;
}
body .mainbox .item-box .item-title h2 {
  height: 0.6rem;
  font-size: 0.25rem;
  line-height: 0.6rem;
  text-align: center;
  font-weight: 400;
  color: white;
}
body .mainbox .item-box .item-body {
  height: 3rem;
  width: 100%;
}
body .mainbox .item-box .item-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
body .mainbox .item-box .item-footer::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #02a6b5;
  border-left: 2px solid #02a6b5;
}
body .mainbox .item-box .item-footer::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #02a6b5;
  border-right: 2px solid #02a6b5;
}
body .mainbox .center-box {
  padding: 0 0.125rem;
}
body .mainbox .center-box .num-box {
  background: rgba(101, 132, 226, 0.1);
  padding: 0.1875rem;
}
body .mainbox .center-box .num-box .num-hd {
  position: relative;
  border: 1px solid rgba(25, 186, 139, 0.17);
}
body .mainbox .center-box .num-box .num-hd::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 30px;
  height: 10px;
  border-top: 2px solid #02a6b5;
  border-left: 2px solid #02a6b5;
}
body .mainbox .center-box .num-box .num-hd::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';
  width: 30px;
  height: 10px;
  border-bottom: 2px solid #02a6b5;
  border-right: 2px solid #02a6b5;
}
body .mainbox .center-box .num-box .num-hd ul {
  display: flex;
}
body .mainbox .center-box .num-box .num-hd ul li {
  position: relative;
  flex: 1;
  text-align: center;
  height: 1rem;
  font-size: 0.875rem;
  color: #ffeb7b;
  font-family: ledfont;
}
body .mainbox .center-box .num-box .num-hd ul li:first-child::after {
  position: absolute;
  top: 25%;
  right: 0;
  content: '';
  height: 0.5rem;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}
body .mainbox .center-box .num-box .num-bd ul {
  display: flex;
}
body .mainbox .center-box .num-box .num-bd ul li {
  flex: 1;
  padding-top: 0.125rem;
  height: 0.375rem;
  line-height: 0.375rem;
  text-align: center;
  font-size: 0.225rem;
  color: rgba(255, 255, 255, 0.7);
}
body .mainbox .center-box .map-box {
  position: relative;
  height: 10.125rem;
  overflow: hidden;
}
body .mainbox .center-box .map-box .chart {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  height: 10.125rem;
  width: 100%;
}
body .mainbox .center-box .map-box .map1,
body .mainbox .center-box .map-box .map2,
body .mainbox .center-box .map-box .map3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6.475rem;
  height: 6.475rem;
  background: url(../images/map.png) no-repeat;
  background-size: 100%;
  opacity: 0.3;
}
body .mainbox .center-box .map-box .map2 {
  width: 8.0375rem;
  height: 8.0375rem;
  background: url(../images/lbx.png) no-repeat;
  background-size: 100%;
  opacity: 0.6;
  animation: rotatle 15s linear infinite;
  z-index: 3;
}
body .mainbox .center-box .map-box .map3 {
  width: 7.075rem;
  height: 7.075rem;
  background: url(../images/jt.png) no-repeat;
  background-size: 100%;
  opacity: 0.6;
  animation: rotatle1 10s linear infinite;
  z-index: 4;
}
@keyframes rotatle {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes rotatle1 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
